<div class="w-100 position-relative overflow-scroll h-100">
  <div style="overflow: hidden; height: 600px; background: linear-gradient(90deg, #172B4D 0%, #1A174D 100%)">
    <img src="./assets/profile-cover.png" style="opacity: 20%" width="100%">
  </div>
  <div class="position-absolute w-100" style="top: 0; padding: 40px 30px 40px 40px;">
    <div class="d-flex justify-content-between">
      <div></div>
      <div class="d-flex align-items-center">
        <div class="rounded rounded-circle me-2" style="width: 36px; height: 36px; overflow: hidden">
          <img src="./assets/me.jpg" style="object-fit: cover;width: 100%; height: 100%">
        </div>
        Dumitru Frunza
      </div>
    </div>

    <div style="margin-top: 130px"  >
      <p style="font-size: 44px">Hello Dmitrii</p>
      <p style="max-width: 500px; opacity: 70%; margin-top: 25px">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
    </div>

    <button mat-raised-button color="primary" style="margin-top: 45px">Edit Profile</button>

    <div class="d-flex justify-content-between text-white align-items-start" style="margin-top: 150px">

      <mat-card style="width: 70%; margin-right: 20px;">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>My Account</mat-card-title>
            <mat-card-subtitle>User Information</mat-card-subtitle>
          </mat-card-title-group>
          <button style="display: block" mat-raised-button color="primary">Settings</button>
        </mat-card-header>

        <mat-card-content style="margin-top: 20px">

          <mat-grid-list cols="2" rowHeight="90px">

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Username</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Diamas" [(ngModel)]="username">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Email Address</mat-label>
                <input matInput maxlength="256" placeholder="Ex. frunze.dimka@gmail.com" [(ngModel)]="email">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>First Name</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Dumitru" [(ngModel)]="firstName">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Last Name</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Frunza" [(ngModel)]="lastName">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-card-title><hr></mat-card-title>
          <mat-card-subtitle>Contact Information</mat-card-subtitle>

          <mat-grid-list cols="3" rowHeight="90px">

            <mat-grid-tile colspan="3">
              <mat-form-field class="user-info-input">
                <mat-label>Address</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Podul Inalt 12/1" [(ngModel)]="address">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>City</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Chisinau" [(ngModel)]="city">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Country</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Moldova" [(ngModel)]="country">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Phone</mat-label>
                <input matInput maxlength="256" placeholder="Ex. (+373) 69395194" [(ngModel)]="phone">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-card-title><hr></mat-card-title>
          <mat-card-subtitle>Personal description</mat-card-subtitle>

          <mat-grid-list cols="1" rowHeight="120px">
            <mat-grid-tile>
              <mat-form-field class="user-info-input" >
                <mat-label>About</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St" [(ngModel)]="about"></textarea>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-card-content>
      </mat-card>

      <mat-card style="width: 30%;">
        <mat-card-header>
          <div style="display: flex; justify-content: center; width: 100%">
            <img mat-card-avatar src="./assets/me.jpg" alt="Photo of a Shiba Inu" style="width: 225px; height: 225px; margin-top: -125px; overflow: hidden" >
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="short-info">
            <div>
              <div>Friends</div>
              <div>123</div>
            </div>
            <div>
              <div>Rating</div>
              <div>144</div>
            </div>
            <div>
              <div>Level</div>
              <div>54</div>
            </div>
          </div>
          <div style="text-align: center">
            <div style="font-weight: bold">{{username}}</div>
            <div>{{city}}, {{country}}</div>
          </div>
        </mat-card-content>

      </mat-card>

<!--      <div class="my-bg-paper-dark-light rounded w-75 me-5" style="min-height: 500px; padding: 23px 21px 23px 23px;">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <p class="d-block" style="font-size: 20px">My Account</p>-->
<!--          <button mat-raised-button color="primary" style="height: 25px; font-size: 13px">Settings</button>-->
<!--        </div>-->

<!--        <div style="margin-top: 27px;">-->
<!--          <p class="mb-4">User Information</p>-->
<!--          <div class="ms-4">-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <mat-form-field>-->
<!--                  <mat-label>Favorite food</mat-label>-->
<!--                  <input matInput placeholder="username">-->
<!--                </mat-form-field>-->
<!--&lt;!&ndash;                <label for="username" class="form-label fw-bold">Username</label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input name="username" id="username" type="text" class="form-control">&ndash;&gt;-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <label for="email" class="form-label fw-bold">Email Address</label>-->
<!--                <input name="email" id="email" type="email" class="form-control">-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-4">-->
<!--              <div class="col">-->
<!--                <label for="firstName" class="form-label fw-bold">First Name</label>-->
<!--                <input name="firstName" id="firstName" type="text" class="form-control">-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <label for="lastName" class="form-label fw-bold">Last Name</label>-->
<!--                <input name="lastName" id="lastName" type="email" class="form-control">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <hr class="my-4">-->

<!--        <div>-->
<!--          <p class="mb-4">Contact Information</p>-->
<!--          <div class="ms-4">-->
<!--            <div class="row">-->
<!--              <div class="col">-->
<!--                <label class="form-label fw-bold" for="address">Address</label>-->
<!--                <input type="text" class="form-control" id="address">-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="row mt-4">-->
<!--              <div class="col">-->
<!--                <label class="form-label fw-bold" for="city">City</label>-->
<!--                <input type="text" class="form-control" id="city">-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <label class="form-label fw-bold" for="country">Country</label>-->
<!--                <input type="text" class="form-control" id="country">-->
<!--              </div>-->
<!--              <div class="col">-->
<!--                <label class="form-label fw-bold" for="postal_code">Postal Code</label>-->
<!--                <input type="text" class="form-control" id="postal_code">-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--        <hr class="my-4">-->

<!--        <div>-->
<!--          <p class="mb-4">Contact Information</p>-->

<!--          <div class="row ms-3">-->
<!--            <div class="col">-->
<!--              <label class="form-label fw-bold" for="about">About Me</label>-->
<!--              <textarea class="form-control" id="about"></textarea>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--      <div class="my-bg-paper-dark-light rounded w-25 ms-5 pb-4" style="min-height: 200px; padding-left: 23px; padding-right: 23px; padding-top: 23px">-->
<!--        <div class="d-flex justify-content-between">-->
<!--          <button mat-raised-button color="primary" style="height: 25px; font-size: 13px">Connect</button>-->
<!--          <div class="rounded rounded-circle mx-1" style="width: 225px; height: 225px; margin-top: -125px; overflow: hidden">-->
<!--            <img src="./assets/me.jpg" style="object-fit: cover;width: 100%; height: 100%">-->
<!--          </div>-->
<!--          <button mat-raised-button color="primary" style="height: 25px; font-size: 13px">MSG</button>-->
<!--        </div>-->

<!--        <div class="d-flex justify-content-center align-items-center mt-4">-->
<!--          <div class="mx-3 d-flex align-items-center flex-column">-->
<!--            <span class="fw-bold">123</span>-->
<!--            <span class="">Friends</span>-->
<!--          </div>-->
<!--          <div class="mx-3 d-flex align-items-center flex-column">-->
<!--            <span class="fw-bold">22</span>-->
<!--            <span class="">Rating</span>-->
<!--          </div>-->
<!--          <div class="mx-3 d-flex align-items-center flex-column">-->
<!--            <span class="fw-bold">140</span>-->
<!--            <span class="">Level</span>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="mt-4 text-center">-->
<!--          <p class="mb-0 fw-bold">BearBuster</p>-->
<!--          <p class="mb-0">Chisinau, Moldova</p>-->
<!--        </div>-->

<!--      </div>-->
    </div>
  </div>
</div>


