<div class="w-100 position-relative overflow-scroll h-100">
  <div style="overflow: hidden; height: 600px; background: linear-gradient(90deg, #172B4D 0%, #1A174D 100%)">
    <img src="./assets/profile-cover.png" style="opacity: 20%" width="100%">
  </div>
  <div class="position-absolute w-100" style="top: 0; padding: 40px 30px 40px 40px;">
    <div class="d-flex justify-content-between">
      <div></div>
      <div class="d-flex align-items-center">
        <div class="rounded rounded-circle me-2" style="width: 36px; height: 36px; overflow: hidden">
          <img src="./assets/me.jpg" style="object-fit: cover;width: 100%; height: 100%">
        </div>
        Dumitru Frunza
      </div>
    </div>

    <div style="margin-top: 130px"  >
      <p style="font-size: 44px">Hello Dmitrii</p>
      <p style="max-width: 500px; opacity: 70%; margin-top: 25px">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
    </div>

    <button mat-raised-button color="primary" style="margin-top: 45px" (click)="updateUserInfo()">Edit Profile</button>

    <div class="d-flex justify-content-between text-white align-items-start" style="margin-top: 150px">

      <mat-card style="width: 70%; margin-right: 20px;">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>My Account</mat-card-title>
            <mat-card-subtitle>User Information</mat-card-subtitle>
          </mat-card-title-group>
          <button style="display: block" mat-raised-button color="primary">Settings</button>
        </mat-card-header>

        <mat-card-content style="margin-top: 20px">

          <mat-grid-list cols="2" rowHeight="90px">

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Username</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Diamas" [(ngModel)]="userInfo.name">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Email Address</mat-label>
                <input matInput maxlength="256" placeholder="Ex. frunze.dimka@gmail.com" [(ngModel)]="userInfo.email">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>First Name</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Dumitru" [(ngModel)]="userInfo.firstName">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Last Name</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Frunza" [(ngModel)]="userInfo.lastName">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-card-title><hr></mat-card-title>
          <mat-card-subtitle>Contact Information</mat-card-subtitle>

          <mat-grid-list cols="3" rowHeight="90px">

            <mat-grid-tile colspan="3">
              <mat-form-field class="user-info-input">
                <mat-label>Address</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Podul Inalt 12/1" [(ngModel)]="userInfo.address">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>City</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Chisinau" [(ngModel)]="userInfo.city">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Country</mat-label>
                <input matInput maxlength="256" placeholder="Ex. Moldova" [(ngModel)]="userInfo.country">
              </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
              <mat-form-field class="user-info-input">
                <mat-label>Phone</mat-label>
                <input matInput maxlength="256" placeholder="Ex. (+373) 69395194" [(ngModel)]="userInfo.phone">
              </mat-form-field>
            </mat-grid-tile>

          </mat-grid-list>

          <mat-card-title><hr></mat-card-title>
          <mat-card-subtitle>Personal description</mat-card-subtitle>

          <mat-grid-list cols="1" rowHeight="120px">
            <mat-grid-tile>
              <mat-form-field class="user-info-input" >
                <mat-label>About</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St" [(ngModel)]="userInfo.about"></textarea>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

        </mat-card-content>
      </mat-card>

      <mat-card style="width: 30%;">
        <mat-card-header>
          <div style="display: flex; justify-content: center; width: 100%">
            <img mat-card-avatar src="./assets/me.jpg" alt="Photo of a Shiba Inu" style="width: 225px; height: 225px; margin-top: -125px; overflow: hidden" >
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="short-info">
            <div>
              <div>Friends</div>
              <div>123</div>
            </div>
            <div>
              <div>Rating</div>
              <div>144</div>
            </div>
            <div>
              <div>Level</div>
              <div>54</div>
            </div>
          </div>
          <div style="text-align: center">
            <div style="font-weight: bold">{{userInfo.name}}</div>
            <div>{{userInfo.city}}, {{userInfo.country}}</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


