<div class="login-container">
  <div>
    <div class="d-flex justify-content-center">
      <button mat-flat-button color="primary" (click)="logOut()">
        <mat-icon>lock</mat-icon>Log Out
      </button>
    </div>
    <div class="mt-5 d-flex justify-content-center">
      <button mat-flat-button color="primary" class="me-2">
        <mat-icon size="12312">cruelty_free</mat-icon>Contact with Author By VK
      </button>
      <button mat-flat-button color="primary" >
        <mat-icon>heart_broken</mat-icon>Contact with Author By IS
      </button>
    </div>
  </div>
</div>
