<div style="padding:  30px 50px 0 50px">

  <mat-card style="margin-bottom: 40px">
    <div style="width: 100%; background: white; text-align: center">
      <img mat-card-image src="assets/qwe.png" alt="Photo of a Shiba Inu" style=" overflow: hidden; width: 60%; height: 600px; ">
    </div>
    <mat-card-content>
      <h1 style="margin-top: 20px">Moldova receives recycling, waste infrastructure funding</h1>
      <div style="font-size: 15px">
        <p>The London-based European Bank for Reconstruction and Development (EBRD) says it is providing a 25 million euros ($26.8 million) loan to the government of Moldova to finance “critical investments in its solid waste management infrastructure and to address pressing environmental challenges.” The loan is part of a wider financing package that includes another 25 million euros from the Luxembourg-based European Investment Bank (EIB) "as well as investment grants from international donors,” according to the EBRD.</p>
        <p>The loans are intended to fund several types of waste and recycling infrastructure, including materials sorting and recycling plants, waste and recycling containers and collection vehicles and a landfill that meets EU standards.</p>
        <p>“The project is the first large-scale undertaking in the solid waste management sector in Moldova involving multiple regions and an important step towards a sustainable solution for solid waste management services,” EBRD says.</p>
        <p>The organization says its investment will support improvements in the solid waste management system of three waste management zones identified under Moldova’s Solid Waste Management Strategy.</p>
        <p>“The EBRD’s investment will enable the government of Moldova to deliver an improved and more efficient municipal waste collection, covering not only urban centers but rural areas as well,” EBRD writes.</p>
        <p>In a region that includes the Ungheni, Nisporeni and Calarasi districts in Moldova, funds will be directed toward the construction of a regional sanitary landfill in accordance with EU standards; the closure of uncompliant landfills and many smaller unauthorized dump sites; and investments in source separated recyclables, green waste and mixed waste treatment facilities.</p>
      </div>
    </mat-card-content>
  </mat-card>


  qweqweqweqweqweqwewqe

  <mat-card style="margin-bottom: 40px">
    <img mat-card-image src="assets/zxc.jpg" height="400px" width="100%" alt="Photo of a Shiba Inu" style="overflow: hidden">
    <mat-card-content>
      <h1>Better solid waste infrastructure for Moldova</h1>
      <div style="font-size: 15px">
        <p>

          EBRD lends €25 million to Moldova to finance critical solid waste management infrastructure
          Investment boosted by  €5.6 million grant from multi-donor E5P fund, to which the EU is the largest contributor
          Loan to expand and upgrade waste management system

          The EBRD is providing a €25 million sovereign loan to the government of Moldova to finance critical investments in its solid waste management infrastructure and to address pressing environmental challenges. The loan is part of a wider financing package, with the European Investment Bank (EIB) providing an additional €25 million sovereign loan as well as investment grants from international donors.

          The project is the first large-scale undertaking in the solid waste management sector in Moldova involving multiple regions and an important step towards a sustainable solution for solid waste management services. The EBRD’s investment will support improvements in the solid waste management system of three Waste Management Zones under Moldova’s Solid Waste Management Strategy. It will finance the purchase of waste collection and transfer assets such as waste containers and collection vehicles, as well as construction of solid waste disposal and treatment infrastructure, such as landfills and material sorting and treatment facilities.

          The first Waste Management Zone to benefit from the EBRD’s support under the project includes Ungheni, Nisporeni and Calarasi districts, requiring an estimated investment of circa €19.48 million. It will be financed by the first tranche of €6.94 million of the EBRD’s loan, with a similar amount provided by the EIB. The Eastern Europe Energy Efficiency and Environment Partnership (E5P), to which the European Union (EU) is the largest donor, will also provide an investment grant of up to €5.6 million for its rehabilitation. The project also benefits from technical cooperation support funded by Sweden.

          The project enables the expansion, regionalisation, and creation of a consolidated regional solid waste management system in the participating zones. It is expected to serve as a blueprint for a sustainable solid waste management system across the country.

          The EBRD’s investment will enable the government of Moldova to deliver an improved and more efficient municipal waste collection, covering not only urban centres, but rural areas as well.

          Well-functioning municipal infrastructure including solid waste management plays a key role in protecting human health and safeguarding the environment. It is critical for building sustainable and liveable cities, and for the achievement of the United Nations Sustainable Development Goals (SDGs).

          The construction of a regional sanitary landfill in accordance with EU standards, the closure of uncompliant landfills and many smaller unauthorized dumpsites will reduce illegal dumping, while investments in source separated recyclables, green waste and mixed waste treatment facilities will increase recycling rates and provide environmentally safe disposal.

          It will also significantly reduce carbon dioxide and methane emissions associated with waste disposal, thereby contributing to Moldova’s decarbonisation efforts in line with its undertakings under the Paris Agreement on limiting climate change.

          The EBRD is a leading institutional investor in Moldova. To date, the Bank has invested more than €1.8 billion in the country through 158 projects, with 57 per cent of its portfolio in sustainable infrastructure.

          The E5P is a €242 million multi-donor fund initiated by Sweden and operating in the whole Eastern Partnership region.

          The E5P Fund in Moldova totals €48 million and includes a €1 million contribution from Moldova. The EU is the largest overall contributor, with €28.95 million. Other donors include the Czech Republic, Denmark, Estonia, Finland, Germany, Lithuania, Norway, Poland, Romania, the Slovak Republic and Sweden.

          The funds are to help Moldova improve energy efficiency, contributing to energy security, economic competitiveness and policy dialogue, while having a positive impact on the environment. The EBRD acts as the fund manager of E5P providing administrative support to manage the fund on behalf of all the stakeholders.
        </p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
