<div class="d-flex justify-content-center align-items-center" style="height: 100%">
  <mat-card class="example-card">
    <div class="">
      <qr-code [value]="'www.positronx.io'" [size]="400" level="H" [canvas]="true"></qr-code>
    </div>
    <mat-card-content class="p-3">
      <div class="fs-5 mt-3">username: BearBuster</div>
      <div class="fs-5 mt-3">email: frunze.dimka@gmail.com</div>
      <div class="fs-5 mt-3">firstName: Dumitru</div>
      <div class="fs-5 mt-3">lastName: Frunza</div>
      <div class="fs-5 mt-3">address: Podul Inalt 12/1</div>
      <div class="fs-5 mt-3">city: Chisinau</div>
      <div class="fs-5 mt-3">country: Moldova</div>
      <div class="fs-5 mt-3">phone: 069395194</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>



