<div class="d-flex justify-content-center align-items-center" style="height: 100%">
  <mat-card class="example-card">
    <div class="">
      <qr-code [value]="' '" [size]="400" level="H" [canvas]="true"></qr-code>
    </div>
    <mat-card-content class="p-3">
      <div class="fs-5 mt-3">username: {{userInfo.name}}</div>
      <div class="fs-5 mt-3">email: {{userInfo.email}}</div>
      <div class="fs-5 mt-3">firstName: {{userInfo.firstName}}</div>
      <div class="fs-5 mt-3">lastName: {{userInfo.lastName}}</div>
      <div class="fs-5 mt-3">address: {{userInfo.address}}</div>
      <div class="fs-5 mt-3">city: {{userInfo.city}}</div>
      <div class="fs-5 mt-3">country: {{userInfo.country}}</div>
      <div class="fs-5 mt-3">phone: {{userInfo.phone}}</div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>



