<ng-template #navButtons>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/overview']"
  >
    <mat-icon>pie_chart</mat-icon>
    <div class="label">Overview</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/account']"
  >
    <mat-icon>attach_money</mat-icon>
    <div class="label">Account</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/leaderboard']"
  >
    <mat-icon>leaderboard</mat-icon>
    <div class="label">LeaderBoard</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/personal_score']"
  >
    <mat-icon>bar_chart</mat-icon>
    <div class="label">Personal Score</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/my-qr']"
  >
    <mat-icon>qr_code_scanner</mat-icon>
    <div class="label">My QR</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/map']"
  >
    <mat-icon>map</mat-icon>
    <div class="label">Map</div>
  </button>
  <button
    mat-button
    class="nav-icon"
    routerLinkActive="active-link"
    [routerLink]="['/settings']"
  >
    <mat-icon>settings</mat-icon>
    <div class="label">Settings</div>
  </button>
</ng-template>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="showNavigation()">
    <div class="sidenav-wrapper">
      <a [routerLink]="['/overview']">
        <div class="logo-wrapper">
          <img class="logo" src="assets/logo.png" />
        </div>
      </a>
      <div class="nav-buttons">
        <ng-template [ngTemplateOutlet]="navButtons"></ng-template>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
